.user {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: solid 1px rgb(71, 71, 71);
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(21, 26, 21);
    box-shadow: 0px 5px 5px black;
    transition: all 0.3s;
}

.user:hover {
    background-color: rgb(12, 15, 12);
}
.user p {
    color: white;
}

.user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}