.artwork__top {
    margin-top: 50px;
}

.artwork__icon {
    width: 100%;
    object-fit: cover;
}

.artwork__top_info {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.artwork__top_info p {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.artwork__top_info svg,
.artwork__top_info img {
    height: 22px;
    margin-right: 10px;
}

.favorite {
    fill: #43EF60;
    stroke: black;
}
.favorite span {
    margin-top: 3px;
}
.like {
    margin-left: 20px;
    cursor: pointer;
    stroke: white;
}

.like_active {
    margin-left: 20px;
    cursor: pointer;
    fill: #43EF60;
    stroke: black;
}
.comment__icon {
    margin-left: auto;
}

.comment__icon a {
    color: white;
}

.avatar {
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    object-fit: cover;
}

.artwork__profile {
    display: flex;
}

.artwork__text {
    margin-left: 20px;
    color: white;
}

.artwork__title {
    font-size: 25px;
}

.artwork__bottom {
    margin-bottom: 50px;
}

.comments__block {
    margin-top: 100px;
}

.comments__text {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    resize: none;
    height: 100px;
    padding: 20px;
    color: white;
    border: solid 1px rgb(71, 71, 71);
    background-color: rgb(75, 75, 75);
    outline: none;
}

.submit__comment {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.submit__comment:hover {
    color: rgb(37, 37, 37);
}

.comments {
    margin-top: 50px;
}

.comment {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.comment__body {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
}

.comment__top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.comment__top p {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.comment__avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    padding: 5px;
}

.comment__text {
    color: white;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}

.avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    object-fit: cover;
}

.like__block {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.like__block p {
    color: white;
    margin-top: 3px;
}

@media screen and (max-width: 460px) {
    .artwork__top_info span {
        display: none;
    }
    .artwork__top_info img {
        height: 30px;
    }
    .like {
        margin-left: 0px;
    }
}