.comments__text {
    width: 100%;
    border-radius: 20px;
    resize: none;
    height: 200px;
    padding: 20px;
    color: white;
    border: solid 1px rgb(71, 71, 71);
    background-color: rgb(21, 26, 21);
    outline: none;
}

.submit__comment {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.submit__comment:hover {
    color: rgb(37, 37, 37);
}

.comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.comment__body {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(27, 29, 32);
}

.comment__top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.comment__top p {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.comment__avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    object-fit: cover;
}

.comment__text {
    color: white;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 435px) {
    .comment__top {
        gap: 5px;
        align-items: end;
    }
    .comment__top .comment__date {
        font-size: 15px;
        margin-right: 0;
    }
}