.posts__block {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.posts__top {
    background-color: rgb(27, 29, 32);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(71, 71, 71);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title__post {
    margin-left: 20px;
    margin-bottom: 10px;
}

.text__post {
    margin-left: 20px;
    margin-bottom: 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    padding: 5px;
}

.add__post_block {
    width: 100%;
    padding-right: 20px;
}

.add__post,
.add__post_title {
    margin-left: 20px;
    width: 100%;
    height: 300px;
    outline: none;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    resize: none;
    border: none;
    padding: 20px;
    color: white;
}

.add__post_title {
    height: 50px;
    margin-bottom: 20px;
}

.submit__post {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.submit__post:hover {
    color: rgb(37, 37, 37);
}

.posts__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}