.popup,
.popup_active {
    position: absolute;
    top: 40%;
    display: none;
    left: 50%;
    border-radius: 20px;
    padding: 30px 0px;
    margin: auto;
    margin: 150px auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(16, 22, 19) 80%);
    width: 600px;
    transform:translate(-50%, -50%);
    box-shadow: 0px 0px 25px #16501f;
}

.popup_active {
    z-index: 200;
    display: block;
}

.title {
    font-size: 40px;
    margin: 0 auto;
}

.popup__top {
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(53, 53, 53);
}
.change_icon {
    display: none;
}

.change__icon_block {
    width: 100%;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.upload__icon {
    height: 150px;
}

.add__icon_text {
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 1px rgb(114, 114, 114);
    color: rgb(114, 114, 114);
}

.upload__button {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 20px;
    width: 250px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    box-shadow: 0px 0px 10px #43EF60;
}

.upload__button:hover {
    color: rgb(37, 37, 37);
}