.artworks {
    padding: 50px 0 100px 0;
}

.artworks__top {
    display: flex;
}

.add__artwork {
    display: block;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.add__artwork:hover {
    color: rgb(37, 37, 37);
}

.artworks__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.popup__back,
.popup__back_active {
    position: absolute;
    top: 0;
    left: 0;
}

.popup__back_active {
    display: flex;
    z-index: 10;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
    z-index: 100;
    height: 100%;
    position: fixed;
}
