.wrapper {
    padding: 50px 0 100px 0;
    display: flex;
    gap: 50px;
}

.info__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info__left a {
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
}

.info__left a:hover {
    color: #43EF60;
    text-shadow: 0px 0px 10px #43EF60;
}

.info__right {
    color: white;
    margin-left: 200px;
}

.name {
    font-size: 60px;
}

.user__categories {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user__category {
    font-size: 22px;
}
.user__category::after {
    content: '//';
    margin-left: 20px;
}

.user__info {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.user__info p {
    font-size: 22px;
    display: flex;
}

.address::before {
    margin-right: 10px;
    content: url('./../../../../assets/images/location.svg');
}

.user__bio {
    margin-top: 20px;
}

.bio {
    margin-top: 25px;
    width: 100%;
    font-weight: 300;
}

.statistics {
    margin-top: 20px;
}

.statistic__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 40px;
}

.statistic__block {
    width: 160px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    border: solid 1px rgb(71, 71, 71);
}

.statistic__count {
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
}

.subscribers,
.subscriptions {
    margin-top: 20px;
}

.subscriber__blocks,
.subscription__block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.subscriber,
.subscription {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: solid 1px rgb(71, 71, 71);
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(21, 26, 21);
    box-shadow: 0px 5px 5px black;
    transition: all 0.3s;
}

.subscriber:hover,
.subscription:hover {
    background-color: rgb(12, 15, 12);
}
.subscriber p,
.subscription p {
    color: white;
}

.subscriber__avatar,
.subscription__avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.address {
    cursor: pointer;
}
.address__selector,
.address__selector_active {
    display: none;
    position: absolute;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    background-color: rgb(27, 29, 32);
    overflow-y: scroll;
}

.address__selector_active {
    display: block;
}

.address__selector::-webkit-scrollbar,
.address__selector_active::-webkit-scrollbar {
  display: none;
}

.country {
    padding: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.country:hover {
    background-color: #43EF60;
}