.comments__text {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    resize: none;
    height: 100px;
    padding: 20px;
    color: white;
    border: solid 1px rgb(71, 71, 71);
    background-color: rgb(75, 75, 75);
    outline: none;
}

.submit__comment {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.submit__comment:hover {
    color: rgb(37, 37, 37);
}

.comments {
    margin-top: 50px;
}

.comment {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.comment__body {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
}

.comment__top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.comment__top p {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.comment__avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    padding: 5px;
}

.comment__text {
    color: white;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}

.avatar {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(34, 34, 34)50%);
    border-radius: 10px;
    padding: 5px;
}

.post {
    width: 100%;
    background-color: rgb(27, 29, 32);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(71, 71, 71);
    width: 100%;
}

.post__top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.name  {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.date {
    font-weight: 300;
    color: gray;
}

.follow {
    margin-left: auto;
    padding: 8px;
    border-radius: 5px;
    color: #43EF60;
    font-size: 16px;
    border: solid 1px #43EF60;
}

.post__center {
    margin-top: 50px;
}

.post__title {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.post__text {
    color: white;
    font-weight: 300;
    margin-top: 20px;
    width: 100%;
}