* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
    word-wrap: break-word;
}

html,
body,
#root {
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 1 auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(16, 22, 19) 80%);
}

h1 {
    color: #43EF60;
    font-weight: 600;
    font-size: 80px;
    width: max-content;
    text-shadow: 0px 0px 5px #43EF60;
}

h2 {
    color: #43EF60;
    font-weight: 600;
    font-size: 60px;
    width: max-content;
    text-shadow: 0px 0px 25px #43EF60;
}

h3 {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

h4 {
    color: #43EF60;
    text-shadow: 0px 0px 10px #43EF60;
    font-size: 25px;
    font-weight: 300;
}

.form__block {
    border-radius: 20px;
    padding: 50px 20px;
    margin: auto;
    margin: 150px auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(16, 22, 19) 80%);
    width: 600px;
    max-height: 720px;
    box-shadow: 0px 0px 25px #16501f;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.inputs__block {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

input {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 15px;
    transition: all 0.5s;
    background-color: rgb(29, 29, 29);
    border: solid 2px #242424;
    color: rgb(37, 37, 37);
}
.input:focus {
    background-color: white;
    border: solid 2px white;
    box-shadow: 0px 0px 15px #43EF60;
}

.submit {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    border-radius: 20px;
    border: none;
    height: 72px;
    outline: none;
    padding: 20px 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 25px;
    background-color: #43EF60;
    box-shadow: 0px 0px 10px #43EF60;
    color: rgb(37, 37, 37);
    transition: all 0.3s;
}

.submit:hover {
    font-size: 28px;
    box-shadow: 0px 0px 15px #43EF60;
}

.error {
    color: #43EF60;
    font-weight: 600;
    font-size: 20px;
    width: max-content;
    text-shadow: 0px 0px 5px #43EF60;
}
.unknow__error  {
    color: #43EF60;
    font-weight: 600;
    font-size: 20px;
    width: max-content;
    text-shadow: 0px 0px 5px #43EF60;
    margin-left: auto;
    margin-right: auto;
}

.profile__main {
    flex-direction: column;
}

.active {
    border-bottom: solid 3px #43EF60;
}


/* Popup  */

.popup,
.popup_active {
    position: absolute;
    top: 40%;
    display: none;
    left: 50%;
    border-radius: 20px;
    padding: 30px 0px;
    margin: auto;
    margin: 150px auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(16, 22, 19) 80%);
    width: 600px;
    transform:translate(-50%, -50%);
    box-shadow: 0px 0px 25px #16501f;
}

.popup_test {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
    border-radius: 20px;
    padding: 30px 0px;
    margin: auto;
    margin: 150px auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(16, 22, 19) 80%);
    width: 600px;
    transform:translate(-50%, -50%);
    box-shadow: 0px 0px 25px #16501f;
}

.popup_active {
    z-index: 200;
    display: block;
}

.title {
    font-size: 40px;
    margin: 0 auto;
}

.popup__top {
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(53, 53, 53);
}

.add__artwork_name {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}

.label {
    color: rgb(114, 114, 114);
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}
.artwork__name {
    margin-top: 5px;
}

.artwork__name:focus {
    background-color: white;
    border: solid 2px white;
    box-shadow: 0px 0px 15px #43EF60;
}

.change_icon {
    display: none;
}

.change__icon_block {
    width: 100%;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.upload__icon {
    height: 150px;
}

.add__icon_text {
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 1px rgb(114, 114, 114);
    color: rgb(114, 114, 114);
}

.upload__button {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 20px;
    width: 250px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    background-color: #43EF60;
    box-shadow: 0px 0px 10px #43EF60;
}

.upload__button:hover {
    color: rgb(37, 37, 37);
}

@media screen and (max-width: 670px) {
    .inputs__block {
        width: 100%;
    }
    .form__block {
        top: 40%;
        width: 93%;
    }
    .submit {
        margin-top: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
    .title {
        font-size: 50px;
    }
}